In [9]:
print('hello mworld')

hello mworld

## Python

#green==>code/text
#blue==>in command mode (you can't type in that mode)
by pressing esc you can enter into cmd

use:
    cmd is used to delete a cell
       how:
          1)go to cmd and press d and d
          2)convert a cell into mark down/raw notebook
          by clicking the cell cmd==>code
          3)we can do another but no need for us.
IN:

Mark down:

    it's a mark down box the cell no longer used for coding but it's used as personalized text box like html
    
# heading1
## heading2
### heading3
#### heading4
#### heading 5
##### heading6
###### headin

--> this is used to write beautifull notes like links images,bold text and many

In [16]:
print('hello world') #to execute shift+enter execute the current cell and insert a new cell

hello world

In [19]:
print()#you can use for printimg

In [20]:
print('my name is arunkumar')

my name is arunkumar

In [21]:
print("my name is arunkumar")

my name is arunkumar

In [22]:
print(100)

100

In [24]:
print(100,200,300)

100 200 300

, is not a comma #it's a value seperator

# Data types

## integers

integers are numbers those are whole numbers like a 10,203,40 they don't have a decimal number

Sring:
    strings:text or group of characters
        1)you can use single cote 'hi my name is arun kumar'
        2)you can use double quote"my name is arun kumar"
        3)you can use both "i'm good"
        4)strings like sentence and text
        5)thriple quotes:for pharagraps  #"""hi my n"ame is """
list:
    are nothing but collection of various objects. 
    collection of things like a ration list
    ex:['arun',21,'seethampeta',99,44.88,['kumar']]
Tuple:
    also a collection like list but immutable
    you made one list and you can't edit
    we are using ()
    ex:('arun',21,'kumar','seethampeta')
        it's a like read only
dict:
    collection with key value pairs
    #store the data reagarding particular thing
    example:student marks:#it's like alock when you apply the key we eill get the value but so many keys and values
         students= {'arun':99.'raju':85,'prashanth':90}  : is used to assign a value to the key and , is used to seperate the key value pairs
     so from above it's a dictionary if we give key it gives you a value reagrding that particular key 
         students['arun']==>99
why do we need data types:
    you want to sahre the data so we need to store the data in order to store the data efficiently we need this data types
    
    we have stored the marks:
        from that we can learn that we need a value to the paricularb thing so dict is efficient
    to sore the percentage we need to float for multiple we need tuple for multiple u need a collection
 set:
 set are like a list with unique objects
       exaple is below
       
se={'arun',1,2,3,4,'zebra','arun','kumar','arun'}
if you run above cell the ouput is //{1, 2, 3, 4, 'arun', 'kumar', 'zebra'}
it printed with unique elemtes and alphabetically
kindly have a look at the below examples

In [45]:
"""hi my n"ame is """

'hi my n"ame is '

In [46]:
['arun',21,'seethampeta',99,44.88,['kumar']]

['arun', 21, 'seethampeta', 99, 44.88, ['kumar']]

In [47]:
se={'arun',1,2,3,4,'zebra','arun','kumar','arun'}

In [48]:
se

{1, 2, 3, 4, 'arun', 'kumar', 'zebra'}

In [49]:
se

{1, 2, 3, 4, 'arun', 'kumar', 'zebra'}

In [50]:
se

{1, 2, 3, 4, 'arun', 'kumar', 'zebra'}