## string formatting

In [2]:
'my name is {} {} and my age is {}'.format('arun','kumar',21)

'my name is arun kumar and my age is 21'

In [4]:
'my name is {2} {1} and i have studeied in {0} college'.format('M.R.I.E.T','kumar','arun')

'my name is arun kumar and i have studeied in M.R.I.E.T college'

In [6]:
'my name is {n} {n1},my age is {a} and i have studied in {m} college'.format(m='M.R.I.E.T',a=21,n1='Kumar',n='arun')

'my name is arun Kumar,my age is 21 and i have studied in M.R.I.E.T college'

In [19]:
print('{0:*>5}   |    {1:(<5}'.format('subject','Marks'))

subject   |    Marks

In [24]:
'{0:*^10}      |    {1:,^10}'.format('arun','kumar')

'***arun***      |    ,,kumar,,,'

In [25]:
result=10/7

In [26]:
result

1.4285714285714286

In [32]:
'my resutlt is {:10.2f}'.format(result)

'my resutlt is       1.43'

In [37]:
a=int(input('enter your age:'))

enter your age:15

In [40]:
if a>=18:
    print('ho you can go to this {}'.format('website'))
else:
    print('you are a {} and you do not have allow to the {}'.format('kid','Website'))

you are a kid and you do not have allow to the Website

In [41]:
hi_list=['arun','kunal','Mohith','Bhavya']

In [42]:
hi_list

['arun', 'kunal', 'Mohith', 'Bhavya']

In [43]:
for i in hi_list:
    print('hi {}'.format(i))

hi arun
hi kunal
hi Mohith
hi Bhavya

## Split and join

In [44]:
a='arun kumar'

In [45]:
a.split(' ')

['arun', 'kumar']

In [46]:
a='aaa run kumaaaarn naaaak laaaa'

In [47]:
a.split('a')

['', '', '', ' run kum', '', '', '', 'rn n', '', '', '', 'k l', '', '', '', '']

In [48]:
a='arun'

In [49]:
a.split('r')

['a', 'un']

In [50]:
a='arun kumar'

In [51]:
a.split('a')

['', 'run kum', 'r']

### Join

In [52]:
' '.join(['arun','kumar'])

'arun kumar'

In [54]:
'@@@'.join(['1','2','3','4','5'])

'1@@@2@@@3@@@4@@@5'

In [55]:
'--'.join('arun kumar')

'a--r--u--n-- --k--u--m--a--r'

In [56]:
## you can take argument as tuple set,list and str not only list but set order is intact

In [57]:
s={'1','a','arun',' '}

In [58]:
'    '.join(s)

'     a    1    arun'

In [60]:
' '.join(('1','2','3','4','5'))

'1 2 3 4 5'

### Some built in functions of string

In [61]:
s='arun kumar'

In [62]:
s

'arun kumar'

In [63]:
type(s)

str

In [64]:
id(s)

2864360479408

In [65]:
print(s)

arun kumar

In [66]:
len(s)

10

In [67]:
max(s)

'u'

In [68]:
min(s)

' '

In [70]:
s.count('a')

2

In [71]:
s.find('a')

0

In [72]:
s.rfind('a')

8

In [73]:
s.index('a')

0

In [74]:
s.rindex('a')

8

In [75]:
s.find('z')

-1

In [76]:
s.rfind('z')

-1

In [77]:
s.rindex('z')

ValueError: substring not found

In [78]:
s.center(100,'x')

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxarun kumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [79]:
s.endswith('mar')

True

In [80]:
s.endswith('ar',8,len(s))

True

In [81]:
s.isupper()

False

In [82]:
s.isalnum()

False

In [83]:
s.isalpha()

False

In [85]:
s.isnumeric()

False

In [86]:
s.istitle()

False

In [87]:
s.isspace()

False

In [88]:
s.isprintable()

True

In [89]:
s.casefold()

'arun kumar'

In [90]:
s.capitalize()

'Arun kumar'

In [91]:
s.lower()

'arun kumar'

In [92]:
s.ljust(50,'x')

'arun kumarxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'

In [93]:
a='arun kumar arun'

In [94]:
a.lstrip('arun')

' kumar arun'

In [95]:
a.rstrip('arun')

'arun kumar '

In [96]:
a.strip('arun')

' kumar '

In [97]:
a.partition('a')

('', 'a', 'run kumar arun')

In [98]:
s

'arun kumar'

In [99]:
s.partition(' ')

('arun', ' ', 'kumar')

In [100]:
a.partition('arun')

('', 'arun', ' kumar arun')

In [101]:
a.rjust(80,'x')

'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxarun kumar arun'

In [102]:
a.startswith('ar',10,len(a))

False

In [103]:
a.title()

'Arun Kumar Arun'

In [104]:
a.upper()

'ARUN KUMAR ARUN'

In [105]:
a.zfill(100)

'0000000000000000000000000000000000000000000000000000000000000000000000000000000000000arun kumar arun'

## String formatting

In [ ]:
Three Methods
     a)% (place holder)
     b).format
     c)formatted string literals

## % place holder method

In [107]:
'my name is %s'%'arun'

'my name is arun'

In [108]:
'my age is %u'%21

'my age is 21'

In [109]:
'my nae is %r'%'arun'

"my nae is 'arun'"

In [110]:
'my name is %u'%-1

'my name is -1'

In [111]:
'my age is %i'%-21

'my age is -21'

In [112]:
'my age is %i'%-21.22

'my age is -21'

In [113]:
'my name is %u'%-1.333

'my name is -1'

In [115]:
'my name is %r'%-9.8888

'my name is -9.8888'

In [116]:
result=10/7
result

1.4285714285714286

In [117]:
'my result is %10.2f'%result

'my result is       1.43'

## .format Method

In [ ]:
syntax:
    'string starts here'.format(arguments)

In [118]:
'My name is {}'.format('arun')

'My name is arun'

In [119]:
### you can see first cells for more referance

## f-string(formatted string literals method)

In [121]:
N='arun kumar'

In [123]:
f'My name is {N}'

'My name is arun kumar'

In [124]:
result=10/7
result

1.4285714285714286

In [125]:
f'My result is {result:10.3f}'

'My result is      1.429'